{% extends 'layouts/base.html' %}

{% load static %}

{% block content %}

<style>
  .ModuleTitle {
    padding: 20px 0; 
    text-align: center;
    font-weight: 700;
    color: #333; 
    border-bottom: 1px solid #ccc; 
    margin-bottom: 20px; 
  }
  
  video {
    position: relative;
    text-align: center;
  }
  
  .ModuleVideo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
  }
  
  .card {
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
  border-radius: 10px;
  overflow: hidden;
  background-color: #fff;
  margin: auto; 
  max-width: 70%;
}
.card-modules {
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
  border-radius: 10px;
  background-color: #fff;
  margin: auto; 
}
.col-lg-4{
  max-width: 100%;
}
.course-sidebar {
    background-color: #fff;
    box-shadow: 0 0 1px 1px rgba(20, 23, 28, .1), 0 3px 1px 0 rgba(20, 23, 28, .1);
    border-radius: 4px;
    color: #505763;
    padding: 3px;
    position: relative;
    z-index: 10;
    margin: 10px;
}
.card-body {
    color: #666;
    font-size: 1rem;
    margin-bottom: 20px;
    padding: 20px; 
  }

.module-page {
    display: inline-flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: row;
    align-content: center;
    flex-wrap: nowrap;
}
</style>

<h2 class="ModuleTitle">Module: {{ module.title }}</h2>
<div class = "module-page">
  <div class="course-sidebar">
    {% for module in course.modules.all %}
    <div class="col-lg-4 mb-4">
        <div class="card-modules">
            <div class="card-body">
                <a href="{% url 'accounts:course-modules-single' course_slug=course.slug module_title=module.title %}" class="btn btn-primary btn-block">{{ module.title }}</a>
            </div>
        </div>
    </div>
    {% endfor %}
  </div>
  <div class = "module-content">
    {% if module.video %}
      <div class="ModuleVideo">
        <video controls>
          <source src="{{ module.video.url }}" type="video/mp4">
          Your browser does not support the video tag.
        </video>
      </div>
    {% endif %}

    <div class="card">
      <div class="card-body">
        <p class="ModuleText" id="splitOutput">{{ module.text }}</p>
      </div>
    </div>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    var paragraph = document.getElementById("splitOutput");
    var textContent = paragraph.textContent;
    var newText = textContent.replace(/\n/g, '<br>'); // Replace new lines with line breaks
    paragraph.innerHTML = newText;
  });
</script>
{% endblock %}